.bg-content {
  background-color: rgba(187, 209, 178, 0.5);
}

.shape {
  clip-path: polygon(90% 0, 100% 35%, 100% 100%, 0 100%, 0 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: clip-path 0.2s;
}

.card.shape {
  background-color: slateblue;
  transition: 1s;
}

.card.shape:hover {
  background-color: rgb(76, 53, 221);
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}

button.shape {
  border-radius: 0 !important;
  border-bottom: none;
}

.shape:hover {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.social > div {
  background-color: rgb(46, 46, 46);
}
