@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

body {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f7f7f7,
    #efefef,
    #e7e7e7
  );

  font-family: "Poppins", sans-serif;
}

.brand-title {
  font-family: "Caveat", cursive;
  font-size: 35px;
}

.bg-content {
  background-color: #56494c;
}

.shape {
  clip-path: polygon(90% 0, 100% 35%, 100% 100%, 0 100%, 0 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: clip-path 0.2s;
}

.card.shape {
  background: rgba(89, 149, 253, 0.95);
  transition: 1s;
}

.card.shape:hover {
  background-color: rgb(76, 53, 221);
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}

button.shape {
  border-radius: 0 !important;
  border-bottom: none;
}

.shape:hover {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.card-text-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-outstanding {
  filter: brightness(1);
  transition: 0.5s;
}

.card-outstanding:hover {
  filter: brightness(1.1);
  transition: 0.5s;
}

.footer {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Slider */

.carousel-item > .row > [class^="col"] {
  padding: 0;
}

.carousel-control-next,
.carousel-control-prev {
  width: auto !important;
}

.sideCaption {
  padding: 3rem 5.5rem;
}

.bg-firstCaption {
  background-color: #b9d2b1;
}

.bg-secondCaption {
  background-color: #f1d6b8;
}

.bg-thirdCaption {
  background-color: #dac6b5;
}
