<div class="container-fluid p-3 bg-content">
  <div class="row align-items-center justify-content-center">
    <!-- Vision -->
    <div class="col-lg-6">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 bg-intro text-white my-2">
            <div class="d-flex flex-column justify-content-center h-100">
              <p class="fw-bolder fs-3 text-center">Nuestra Mision</p>
              <p class="fs-6 d-flex" style="text-align: justify">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio
                error ea iusto perferendis animi distinctio suscipit laboriosam
                atque, nesciunt eligendi quibusdam consequuntur doloremque
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <img
              src="https://picsum.photos/id/55/1200"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <hr class="d-block d-md-none my-5" />
    <!-- Mision -->
    <div class="col-lg-6">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 bg-intro text-white my-2 order-md-1">
            <div class="d-flex flex-column justify-content-center h-100">
              <p class="fw-bolder fs-3 text-center">Nuestra Vision</p>
              <p class="fs-6" style="text-align: justify">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio
                error ea iusto perferendis animi distinctio suscipit laboriosam
                atque, nesciunt eligendi quibusdam consequuntur doloremque
              </p>
            </div>
          </div>
          <div class="col-lg-6 order-0">
            <img
              src="https://picsum.photos/id/15/1200"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
