<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="d-none d-md-block col-md-4 bg-firstCaption sideCaption">
          <div class="animate__animated animate__slideInUp">
            <h2 class="mb-4">Lorem ipsum dolor sit amet consectetur.</h2>
            <hr />
            <p class="fs-5">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo sed
              impedit nam officiis,
            </p>
            <a href="./pages/detalle.html" class="btn btn-outline-dark"
              >Conocer mas</a
            >
          </div>
        </div>
        <div class="col-12 col-md-8 position-relative">
          <img
            src="https://picsum.photos/id/125/1200/650"
            class="d-block w-100"
          />
          <div class="carousel-caption d-block d-md-none card-text-overlay">
            <h6 class="px-1">Lorem ipsum dolor sit amet consectetur.</h6>
            <a href="./pages/detalle.html" class="btn btn-dark">Conocer mas</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="d-none bg-secondCaption d-md-block col-md-4 sideCaption">
          <div class="animate__animated animate__slideInUp">
            <h2 class="mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing.
            </h2>
            <hr />
            <p class="fs-5">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem
              doloremque tempore eos?
            </p>
            <a href="./pages/detalle.html" class="btn btn-outline-dark"
              >Conocer mas</a
            >
          </div>
        </div>
        <div class="col-12 col-md-8 position-relative">
          <img
            src="https://picsum.photos/id/57/1200/650"
            class="d-block w-100"
          />
          <div class="carousel-caption d-block d-md-none card-text-overlay">
            <h6 class="px-1">
              Lorem ipsum dolor sit amet consectetur adipisicing.
            </h6>
            <a href="./pages/detalle.html" class="btn btn-dark">Conocer mas</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="d-none bg-thirdCaption d-md-block col-md-4 sideCaption">
          <div class="animate__animated animate__slideInUp">
            <h2 class="mb-4">Lorem ipsum dolor sit amet consectetur.</h2>
            <hr />
            <p class="fs-5">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Excepturi dolores molestias nesciunt. Quibusdam, amet officia.
            </p>
            <a href="./pages/detalle.html" class="btn btn-outline-dark"
              >Conocer mas</a
            >
          </div>
        </div>
        <div class="col-12 col-md-8 position-relative">
          <img
            src="https://picsum.photos/id/38/1200/650"
            class="d-block w-100"
          />
          <div class="carousel-caption d-block d-md-none card-text-overlay">
            <h6 class="px-1">Lorem ipsum dolor sit amet consectetur.</h6>
            <a href="./pages/detalle.html" class="btn btn-dark">Conocer mas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon bg-dark p-2"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon bg-dark p-2"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
