<h1>Método de pago</h1>
<div class="row">
  <div class="col-12">
    <div class="card border-0 rounded-0 bg-transparent">
      <div>Tarjeta de Crédito</div>
      <div class="card-body">
        <form>
          <div class="mb-2">
            <input
              type="text"
              placeholder="Direccion de email"
              class="form-control"
            />
          </div>
          <div class="mb-2 row">
            <div class="col-lg-6">
              <input type="text" placeholder="Nombre(s)" class="form-control" />
            </div>
            <div class="col-lg-6">
              <input type="text" placeholder="Apellidos" class="form-control" />
            </div>
          </div>

          <div class="mb-2">
            <div class="row">
              <div class="col-lg-6">
                <input
                  type="text"
                  placeholder="Numero de tarjeta"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3">
                <input type="text" placeholder="MM/AA" class="form-control" />
              </div>
              <div class="col-lg-3">
                <input type="text" placeholder="CVV" class="form-control" />
              </div>
            </div>
          </div>

          <div class="mb-2">
            <input
              type="text"
              placeholder="Nombre que figura en la tarjeta"
              class="form-control"
            />
          </div>

          <div class="mb-2">
            <input
              type="text"
              placeholder="Monto de patrocinio"
              class="form-control"
            />
          </div>

          <div class="mb-2">
            <div class="row">
              <div class="col-lg-6">
                <select name="" id="" class="form-select">
                  <option value="">Bolivia</option>
                  <option value="">Brasil</option>
                  <option value="">Colombia</option>
                  <option value="">Peru</option>
                </select>
              </div>
              <div class="col-lg-6">
                <input
                  type="text"
                  placeholder="Codigo postal"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
